@model string

@{
    ViewBag.Title = "Encrypt";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                Text to encrypt
            </div>
            <div class="row">
                @Html.TextBox("TextToEncrypt", "", new { @class = "control-label col-md-12" })
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                Encrypted text
            </div>
            <div class="row">
                @Html.TextBox("EncryptedText", Model, new { @class = "control-label col-md-12" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Encrypt" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
